.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    margin-top: 0;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
span{
    color: orangered;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    
    color: #fff;
    background-color: orangered;
    font-weight: bold;
}
.nav-contact:hover{
    background-color: #fff;
    color: orangered;
    transition: 0.9ms;
    
}